body {
    margin: 0;
    background-image: url("images/Background.png");
    background-size: 100vw;
    background-position: center;
    background-repeat: repeat;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-weight: bold;
}

input {
    height: 50px;
    border-radius: 10px;
}

input#active {
    cursor: pointer;
}